@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap");
@import "weather"; /* import the weather.scss file */
$primary-color: #212121;

body {
  font-family: "Exo", sans-serif;
  color: $primary-color;
}
